[submodule "GitHub Actions - The Complete Guide"]
	path = GitHub Actions - The Complete Guide
	url = https://github.com/sunghogo/-GitHub-Actions---The-Complete-Guide.git
[submodule "C# Basics for Beginners"]
	path = "C# Basics for Beginners"
	url = https://github.com/sunghogo/C-Sharp-Basics-for-Beginners.git
[submodule "C# Intermediate Classes Interfaces and OOP"]
	path = "C# Intermediate Classes Interfaces and OOP"
	url = https://github.com/sunghogo/C-Sharp-Intermediate-Classes-Interfaces-and-OOP.git
[submodule "C# Advanced Topics Prepare for Technical Interviews"]
	path = "C# Advanced Topics Prepare for Technical Interviews"
	url = https://github.com/sunghogo/C-Sharp-Advanced-Topics-Prepare-for-Technical-Interviews.git
[submodule "GameDevTV Unity"]
	path = GameDevTV Unity
	url = https://github.com/sunghogo/GameDevTV-Unity.git
[submodule "Shader Development from Scratch for Unity with Cg"]
	path = Shader Development from Scratch for Unity with Cg
	url = https://github.com/sunghogo/Shader-Development-from-Scratch-for-Unity-with-Cg.git
[submodule "Complete Blender Creator Learn 3D Modelling for Beginners"]
	path = Complete Blender Creator Learn 3D Modelling for Beginners
	url = https://github.com/sunghogo/Complete-Blender-Creator-Learn-3D-Modelling-for-Beginners.git
[submodule "The Complete Javascript Course 2023"]
	path = The Complete Javascript Course 2023
	url = https://github.com/sunghogo/The-Complete-Javascript-Course-2023.git
[submodule "Modern React with Redux 2023 Update"]
	path = Modern React with Redux 2023 Update
	url = https://github.com/sunghogo/Modern-React-with-Redux-2023-Update.git
[submodule "Beginning C++ Programming"]
	path = Beginning C++ Programming
	url = https://github.com/sunghogo/Beginning-Cpp-Programming.git
[submodule "Computer Graphics with Modern OpenGL and C++"]
	path = Computer Graphics with Modern OpenGL and C++
	url = https://github.com/sunghogo/Computer-Graphics-with-Modern-OpenGL-and-Cpp.git
[submodule "Modern React with Redux 2024 Update"]
	path = Modern React with Redux 2024 Update
	url = https://github.com/sunghogo/Modern-React-with-Redux-2024-Update.git
[submodule "The Coding Interview Bootcamp Algorithms Data Structures"]
	path = The Coding Interview Bootcamp Algorithms Data Structures
	url = https://github.com/sunghogo/The-Coding-Interview-Bootcamp-Algorithms-Data-Structures.git
[submodule "Complete Linear Algebra Theory and Implementation"]
	path = Complete Linear Algebra Theory and Implementation
	url = https://github.com/sunghogo/Complete-Linear-Algebra-Theory-and-Implementation.git
[submodule "Master Calculus 1 Using Python"]
	path = Master Calculus 1 Using Python
	url = https://github.com/sunghogo/Master-Calculus-1-Using-Python.git
[submodule "C++ Data Structures and Algorithms"]
	path = C++ Data Structures and Algorithms
	url = https://github.com/sunghogo/Cpp-Data-Structures-and-Algorithms.git
[submodule "Complete Blender Megacourse"]
	path = Complete Blender Megacourse
	url = https://github.com/sunghogo/Complete-Blender-Megacourse.git
[submodule "Modern Computer Graphics With Modern OpenGL"]
	path = Modern Computer Graphics With Modern OpenGL
	url = https://github.com/sunghogo/Computer-Graphics-with-Modern-OpenGL
