[submodule "GitHub Actions - The Complete Guide"]
	path = GitHub Actions - The Complete Guide
	url = https://github.com/sunghogo/-GitHub-Actions---The-Complete-Guide.git
[submodule "C# Basics for Beginners"]
	path = "C# Basics for Beginners"
	url = https://github.com/sunghogo/C-Sharp-Basics-for-Beginners.git
[submodule "C# Intermediate Classes Interfaces and OOP"]
	path = "C# Intermediate Classes Interfaces and OOP"
	url = https://github.com/sunghogo/C-Sharp-Intermediate-Classes-Interfaces-and-OOP.git
[submodule "C# Advanced Topics Prepare for Technical Interviews"]
	path = "C# Advanced Topics Prepare for Technical Interviews"
	url = https://github.com/sunghogo/C-Sharp-Advanced-Topics-Prepare-for-Technical-Interviews.git
[submodule "GameDevTV Unity"]
	path = GameDevTV Unity
	url = https://github.com/sunghogo/GameDevTV-Unity.git
[submodule "Shader Development from Scratch for Unity with Cg"]
	path = Shader Development from Scratch for Unity with Cg
	url = https://github.com/sunghogo/Shader-Development-from-Scratch-for-Unity-with-Cg.git
[submodule "Complete Blender Creator Learn 3D Modelling for Beginners"]
	path = Complete Blender Creator Learn 3D Modelling for Beginners
	url = https://github.com/sunghogo/Complete-Blender-Creator-Learn-3D-Modelling-for-Beginners.git
[submodule "The Complete Javascript Course 2023"]
	path = The Complete Javascript Course 2023
	url = https://github.com/sunghogo/The-Complete-Javascript-Course-2023.git
[submodule "Modern-React-with-Redux-2023-Update"]
	path = Modern-React-with-Redux-2023-Update
	url = https://github.com/sunghogo/Modern-React-with-Redux-2023-Update.git
[submodule "Beginning-Cpp-Programming"]
	path = Beginning-Cpp-Programming
	url = https://github.com/sunghogo/Beginning-Cpp-Programming.git
