/***TAG SELECTORS***/

h1 { 
    color: red;
    font-size: 200px;
}

/* Commented out code
img {
    background-color: red;
}
*/

/***CLASS SELECTORS***/
.bacon {
    background-color: green;
}
.brocolli {
    background-color: red;
}