/*** TAG SELECTORS ***/
body {
    /* margin: 0 0 0 0; */
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
    /*
    font-size: 2em;
    font-size: 200%;
    */
}

h1 { 
    color: #66BFBF;
    /* margin: 0 0 0 0; */
    /* margin-top: 2.6rem;
    margin-top: 50px; */
    margin: 50px auto 0 auto;
    /* width: 10%;
    margin: 0 auto 0 auto;
    margin: 0 auto; */
    font-family: 'Sacramento', cursive;
    /*
    font-size: 90px;
    font-size: 562.5%;
    */
    /*
    font-size: 5.625em;
    font-size: 562.5%;
    */
    font-size: 5.625rem;
    /* line-height: 2; */
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

hr {
    border-style: dotted none none none;
    border-color: lightgray;
    border-width: 5px;
    width: 5%;
    margin: 100px auto 100px auto;
  }


/*** CLASS SELECTORS ***/
.top-container {
    background-color: #EAf6F6;
    position: relative;
    padding-top: 100px;
    margin-bottom: 100px;
}

.middle-container {
    background-color: white;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 40px 0 40px 0;
    text-align: center;
}

.profile {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: center;
    line-height: 2;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.chile-img {
    width: 25%;
    float: right;
    margin-left: 30px;
}

.code-skill-description {
}

.chilli-skill-description {
}

.contact-me {
    width: 50%;
    margin: 50px auto 50px auto;
    text-align: center;
    line-height: 2;
}

.footer-link {
    color: #11999E;
    margin: 0 1rem 0 1rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
}

.footer-copyright {
    margin: 40px 0 0 0;
    color: #EAf6F6;
    font-size: 0.75rem;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}